.Header_container {
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;

}

.header {
    display: flex;
    align-items:flex-start;
    padding: 0 80px;
    align-items: center;
    background-color: #ffffff;
}

.header__logo {
    display: inline-flex;
    width: 90px;
    height: auto;
}

.header__title {
    font-size: 4em;
    color: #213547;
}

.back_home {
    margin-left: auto;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: -85px; 
    padding-left: 450px;
}

.back_home img{
    width: 30px; 
  height: auto; 
}

.back_home img:hover {
    transform: scale(1.5); 
}

.logIn_signUp {
    margin-left: auto;
    display: flex;
    gap: 20px;
    align-items:flex-end;
    margin-top: -135px; 
    padding-left: 100px;
}

.logIn_signUp img {
    width: 30px; 
  height: auto; 
}

.logIn_signUp img:hover {
    transform: scale(1.3); 
}

