#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #213547;
  background-color: #ffffff;
}

header {
  width: 100%;
  text-align: center;
  color: #213547;
  background-color: #ffffff;
}

footer {
  width: 100%;
  text-align: center;
  color: #2135476b;
  background-color: #ffffff;
}

.article_card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  color: #213547;
}

.article_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: 50%;
}

.article_comment {
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  color: #213547;
  background-color: #ffffff;
}


.loading_container {
  text-align: center;
  margin-top: 50px;
}
.loading_container img {
  width: 200px;
  height: auto;
}

.comment_form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 20px;
  width: 100%; 
  box-sizing: border-box; 
  padding: 10px;
}

.username_button {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: flex-start;
}

.login_for_comment {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.login_for_comment button {
  padding: 3px 5px; 
  font-size: 0.7em;
  margin: 3px;
}

.comment_input {
  width: 100%;
  box-sizing: border-box; 
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 5em; 
}

.comment_form button {
  align-self: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2b5886;
  color: white;
  cursor: pointer;
}

.comment_form button:hover {
  background-color: #0056b3;
}

.comment_section {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.comment_author {
  font-weight: bold;
  margin-bottom: 5px;
}

.comment_body {
  margin-bottom: 10px;
  text-align: left;
}

.comment_meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: #555;
}

.comment_votes, .comment_time {
  margin-right: 10px;
}