#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #213547;
  background-color: #ffffff;
}

header {
  width: 100%;
  text-align: center;
  color: #213547;
  background-color: #ffffff;
}

footer {
  width: 100%;
  text-align: center;
  color: #2135476b;
  background-color: #ffffff;
}


.loading_container {
  text-align: center;
  margin-top: 50px;
}
.loading_container img {
  width: 200px;
  height: auto;
}




