#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header, footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem; 
  text-align: center;
}

.article_card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
}

.article_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: 50%;
}

.article_comment {
  border: 2px black solid;
  display: flex;
  flex-direction: column;
}

.article_list {
  border: 15px solid rgb(50, 70, 108);
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
  box-shadow: 0px 20px 20px hsla(120, 9%, 4%, 0.7);
  margin: 5px auto;
  width: 80%; 
  max-width: 600px; 
}

.loading_container {
  text-align: center;
  margin-top: 50px;
}
.loading_container img {
  width: 200px;
  height: auto;
}

.comment_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%; 
}

.current_username {
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 1%;
  align-self: flex-start;
}

.comment_input {
  width: 100%;
  box-sizing: border-box; 
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.comment_form button {
  align-self: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2b5886;
  color: white;
  cursor: pointer;
}

.comment_form button:hover {
  background-color: #0056b3;
}

.comment_section {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.comment_author {
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 100%;
}

.comment_body {
  margin-bottom: 10px;
  text-align: left;
}

.comment_meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: #555;
}

.comment_votes, .comment_time {
  margin-right: 10px;
}
